.mat-drawer-container {
  height: 100%;
  padding: 0 var(--sidenav-container-padding);
  overflow: visible;
}

.mat-drawer-side {
  border-right-width: 0;
}

.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none;
}

mat-sidenav {
  width: calc(100vw - var(--sidenav-container-padding) - var(--sidenav-container-padding));
  background-color:  #fbf4b5;
}

mat-sidenav-content {
  // background-color: #ceced1;  // для тестирования

  & .sidenav-content-button {
    display: block;
  }
}

.active {
  color: var(--vivid-pink);
}

@media (min-width: 600px) {
  mat-sidenav {
    width: 300px;
  }

  mat-sidenav-content {
    padding-left: var(--sidenav-content-padding);
    padding-right: var(--sidenav-content-padding);

    & .sidenav-content-button {
      display: none;
    }
  }
}

