<nav class="container-nav">
  <ul class="nav">
    <li>
      <a  routerLink="." fragment="home">Home</a>
    </li>
    <li>
      <a  routerLink="." fragment="about">About</a>
    </li>
    <li>
      <a routerLink="." fragment="services">Services</a>
    </li>
    <li>
      <a routerLink="." fragment="contact">Contact</a>
    </li>
  </ul>
</nav>

<div class="container-content">
  <div class="anchor-block">
    <a id="home" class="anchor-block-text" >Home</a>
    <div class="container-animation">
      <div class="content-title">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text-big"></div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>

      <div class="animation"></div>

    </div>
  </div>
  <div  class="anchor-block">
    <a id="about" class="anchor-block-text" >About</a>
    <div class="container-animation">
      <div class="content-title">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text-big"></div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>

      <div class="animation"></div>

    </div>
  </div>
  <div  class="anchor-block">
    <a id="services" class="anchor-block-text" >Services</a>
    <div class="container-animation">
      <div class="content-title">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text-big"></div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>

      <div class="animation"></div>

    </div>
  </div>
  <div  class="anchor-block">
    <a id="contact" class="anchor-block-text" >Contact</a>
    <div class="container-animation">
      <div class="content-title">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text-big"></div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>
      <div class="content-text">&nbsp;</div>

      <div class="animation"></div>

    </div>
  </div>
</div>
