$dark-gray: (
  50 : #fafafb,
  100 : #f2f2f5,
  200 : #e9eaee,
  300 : #e0e1e7,
  400 : #d9dae2,
  500 : #d2d4dd,
  600 : #cdcfd9,
  700 : #c7c9d4,
  800 : #c1c3cf,
  900 : #b6b9c7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dark-gold: (
  50 : #fffff8,
  100 : #fffeed,
  200 : #fffde1,
  300 : #fffcd4,
  400 : #fffccb,
  500 : #fffbc2,
  600 : #fffabc,
  700 : #fffab4,
  800 : #fff9ac,
  900 : #fff89f,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$dark-red: (
  50 : #ffe9ea,
  100 : #ffc9cb,
  200 : #ffa5a8,
  300 : #fe8185,
  400 : #fe666b,
  500 : #fe4b51,
  600 : #fe444a,
  700 : #fe3b40,
  800 : #fe3337,
  900 : #fd2327,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd0d1,
  A700 : #ffb7b8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

