$light-gray: (
  50 : #ebebed,
  100 : #ceced1,
  200 : #adaeb3,
  300 : #8c8d95,
  400 : #73747e,
  500 : #5a5c67,
  600 : #52545f,
  700 : #484a54,
  800 : #3f414a,
  900 : #2e3039,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$light-gold: (
  50 : #fefae1,
  100 : #fbf4b5,
  200 : #f9ec84,
  300 : #f7e453,
  400 : #f5df2e,
  500 : #f3d909,
  600 : #f1d508,
  700 : #efcf06,
  800 : #edca05,
  900 : #eac002,
  A100 : #ffffff,
  A200 : #fff8de,
  A400 : #ffeeab,
  A700 : #ffe991,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-red: (
  50 : #fce4e5,
  100 : #f7bcbd,
  200 : #f18f92,
  300 : #eb6266,
  400 : #e74045,
  500 : #e31e24,
  600 : #e01a20,
  700 : #dc161b,
  800 : #d81216,
  900 : #d00a0d,
  A100 : #fffbfb,
  A200 : #ffc8c8,
  A400 : #ff9596,
  A700 : #ff7b7d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);





