.theme {
  // Buttons
  // ********************
  .mat-mdc-button.mat-mdc-button-base,
  .mat-mdc-raised-button.mat-mdc-button-base,
  .mat-mdc-unelevated-button.mat-mdc-button-base,
  .mat-mdc-outlined-button.mat-mdc-button-base {
    min-height: var(--button-height);
    border-radius: var(--button-border-radius);
  }
  // end Buttons

  // ** MatSidenavModule **
  // *******************************************
  .mat-drawer-container {
    .mat-drawer-backdrop.mat-drawer-shown {
      background-color: transparent;
    }
  }

  .mat-drawer-inner-container, mat-sidenav-content {
    overflow-y: scroll;
  }

  mat-sidenav-content::-webkit-scrollbar {
    width: 0;
  }

  mat-sidenav-content::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  mat-sidenav-content::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .mat-drawer-inner-container::-webkit-scrollbar {
    width: 3px;
  }

  .mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
  }

  .mat-drawer-inner-container::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* firefox */

  .mat-drawer-inner-container  {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scroll) transparent;
    scrollbar-gutter: stable;
  }

  mat-sidenav-content {
    scrollbar-width: none;
  }
  // ** end MatSidenavModule **

  // ** Material Icons **
  /* Rules for sizing the icon. */
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

  .material-icons.icon-menu {
    margin-right: 16px;
  }
  // ** end Material Icons **


  // ** MatExpansionModule **
  // *******************************************
  .mat-expansion-panel.empty {
    height: 48px;
    overflow: hidden;
  }

  .mat-expansion-panel.empty.mat-expanded {
    height: 48px;
    overflow: hidden;
  }

  .mat-expansion-panel.empty .mat-expansion-panel-header {
    height: 48px;
    overflow: hidden;

    &.active .mat-expansion-panel-header-title {
      color: var(--vivid-pink);
    }
  }

  .mat-expansion-panel.empty.mat-expanded .mat-expansion-panel-header {
    height: 48px;
    overflow: hidden;

    &.active .mat-expansion-panel-header-title {
      color: var(--vivid-pink);
    }
  }

  // ** end MatExpansionModule **


  // ** styles for Dark Theme **
  &.dark-theme {
    background-color: #2e3039;
  }
  // ** end styles for Dark Theme **
}
